<div class="new-container">
    <h1 class="title">Menus</h1>
    <h3 class="subtitle">Edita Menu</h3>
    <div class="content">
        <form action="/menus/<%= menu.id %>?_method=PUT" method="POST">
            <%- include('_form_fields') %>
        </form>
    </div>
</div>
<div class="page-links" id="foods-links">
    <a class="link-page" href="/menus">Menus</a>
    <a class="link-page" href="/menus/advancedSearch">Cerca Avançada</a>
</div>