<h2>Edit <%= menu.date.dayOfWeek%></h2>
<form action="/menus/<%= menu.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/menus">Cancel</a>
  <button type="submit" name="updateButton">Update</button>
</form>
