<h2>Search Plats</h2>
<form action="plats/search/" method="GET">
    <label for="id">Name</label>
    <select name="id" onchange="this.form.submit()">
        <option disabled selected>-- Tria --</option>
        <% plats.forEach(plat => { %>
            <option label="<%= plat.name %>" value="<%= plat.id %>"></option> 
        <% }) %>  
    </select>
</form>
<a href="/plats/new">New Plat</a>
<a href="/plats/advancedSearch">Advanced Search</a>

