<div class="footer">
    <div class="footer_content">
        <a class="footer_content-logo" href="/users/info">HoMe</a>
        <span class="footer_content-text">Nutrició i Esport</span>
        <ul class="footer_content-socials">
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer_bottom">
        <p>copyright &copy;2021 HoMe. designed by <span>SaS07</span></p>
    </div>
</div>
