<% if(locals.loggedInUser != null) { %>
<nav class="navbar">
    <a href="/users/info" class="navbar_logo">HoMe</a>
    <a href="#" class="navbar_toggleButton">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar_links">
        <div class="navbar_links-item" id="xButton">
            <a href="#" class="navbar_xButton"><label class="navbar_links-item-name">X</label></a>
        </div>
        <div class="navbar_links-item">
            <a class="navbar_links-item-name" href="/foods">Aliments</a>
            <div class="navbar_links-item-dropdown">
                    <div class="navbar_links-item-dropdown-arrow"></div>
                    <a class="navbar_links-item-dropdown-item" href="/foods/new">Nou Aliment</a>
                    <a class="navbar_links-item-dropdown-item" href="/foods/advancedSearch">Cerca Av.</a>
            </div>
        </div>
        <div class="navbar_links-item">
            <a class="navbar_links-item-name" href="/dishes">Plats</a>
            <div class="navbar_links-item-dropdown">
                <div class="navbar_links-item-dropdown-arrow"></div>
                <a class="navbar_links-item-dropdown-item" href="/dishes/new">Nou Plat</a>
                <a class="navbar_links-item-dropdown-item" href="/dishes/advancedSearch">Cerca Av.</a>
            </div>
        </div>
        <div class="navbar_links-item">
            <a class="navbar_links-item-name" href="/menus">Menus</a>
            <div class="navbar_links-item-dropdown">
                <div class="navbar_links-item-dropdown-arrow"></div>
                <a class="navbar_links-item-dropdown-item" href="/menus/new">Nou Menu</a>
                <a class="navbar_links-item-dropdown-item" href="/menus/advancedSearch">Cerca Av.</a>
            </div>
        </div>
        <div class="navbar_links-item" id="extra">
            <a class="navbar_links-item-name" href="/users/show"><i class="fa fa-user"></i></a>
        </div>
        <div class="navbar_links-item" id="extra">
            <a class="navbar_links-item-name" href="/auth/logout">
                <i class="fa fa-sign-out fa_custom"></i>
            </a>
        </div>
    </div>
    <div class="navbar_user">
        <% if(locals.loggedInUser != null) { %>
            <a class="navbar_user-username" href="/users/show"><i class="fa fa-user"></i></a> 
            <a class="navbar_user-icon" href="/auth/logout">
                <i class="fa fa-sign-out fa_custom"></i>
            </a>
        <% } else { %>
        <a class="navbar_user-button" id="logInButton" href="/auth/login">Log In</a>
        <a class="navbar_user-button" id="signUpButton" href="/auth/register">Sign Up</a>
        <% } %>
    </div>
</nav>
<% } %> 



