<h1>Titulo de mi sitio Index</h1>
<h2>Recentl Added</h2>
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %> ">
        </a>
    <% }) %>
</div>
