<h1>Titulo de mi sitio Index</h1>
<h2>Recentl Added</h2>
<div>
    <% dishes.forEach(dish => { %>
        <a href="/dishes/<%= dish.id %>">
            <img height="150" width="100" src="<%= dish.coverImagePath %> ">
        </a>
    <% }) %>
</div>
