.footer {
    flex-shrink: 0;
    width: 100vw;
    height: auto;
    background:$black-light;
    color: $turquoise-light;
    padding-top: 1vh;
    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &-logo {
            cursor: pointer;
            color: $turquoise-light;
            font-size: $large;
            font-weight: 400;
            line-height: 3rem;
        }

        &-text {
            color: $turquoise-light;
            font-size: $smaller;
        }
    
        &-socials {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0 1rem 0;
            li {
                margin: 0 10px;
                a{
                    color: $turquoise-light;
                    i {
                        font-size: $large;
                        transition: color 0.5s ease;
                    }
                    &:hover {
                        color: $aqua;
                    }
                }
            }
        }
    }

    &_bottom {
        background: $black-dark;
        width: 100vw;
        padding: .5vh 0;
        text-align: center;
        p {
            color: $turquoise-light;
            font-size: $tiny;
            word-spacing: 2px;
            text-transform: capitalize;
            span {
                opacity: .4;
                font-weight: 500;
            }
        }
    }
}
