.navbar {
    flex-shrink: 0;
    position: sticky;
    width: 100%;
    height: auto;
    min-height: 60px;
    z-index: 1;
    padding: 0.5rem calc((100vw - 1200px) /2);
    background: $backgroundColorGradient;
    display: flex;
    justify-content: space-between;
    @include tablet {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        padding: 0;
    }
    &_logo {
        cursor: pointer;
        width: 230px;
        margin: auto 0;
        font-size: $big;
        color: $black-light;
        font-weight: bold;
        margin-left: 2rem;
    }
    &_toggleButton {
        position: absolute;
        top: 20%;
        right: 2.5%;
        width: 3rem;
        height: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .bar {
            height: 3px;
            width: 100%;
            background-color:$black-dark;
            border-radius: 6px;
        }
        @include tablet {
            display: flex;
        }
    }
    &_links {
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
       @include tablet {
            max-width: 0px;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            width: 60vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background: $backgroundColorGradient2;
        }
        &-item {
            position: relative;
            padding: 0 2rem;
            transition: font-size 0.5s ease;
            display: flex;
            flex-direction: column;
            @include tablet {
                padding: 0.25rem 0rem;
                align-items: center;
                width: 100%;
                border-top: 1px solid $turquoise-dark;
                &:hover {
                    width: 100%;
                    background: $black-light;
                }
            }
            &-name {
                @include tablet {
                    font-size: $smaller;
                    color: $turquoise-light;
                }
                &:hover {
                    transform: scale(1.1);
                    @include tablet {
                        transform: scale(1.0);
                    }
                }
            }
            &-name:hover ~ &-dropdown {
                display: flex;
                @include tablet {
                    display: none;
                }
            }
            &-dropdown {
                position: absolute;
                top: 32px;
                left: 5px;
                text-align: center;
                padding: 1rem 1rem;
                width: 15rem;
                background: $turquoise-light;
                border-radius: 6px;
                display: none;
                flex-direction: column;
                align-items: center;
                &:hover {
                    display: flex;
                }
                &-item {
                    font-size: $smaller;
                    text-align: center;
                    &:hover {
                        border-radius: 6px;
                        width: 100%;
                        background: $gray2-light;
                    }
                }
                &-arrow {
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    top: -3px;
                    left: 15px;
                    background: $turquoise-light;
                    transform: rotate(45deg);
                }
            }
            &#xButton {
                a{
                    padding: 8px 0 16px 9px;
                    align-self: flex-start;
                }
                label {
                    cursor: pointer;
                    font-size: $medium;
                }
                &:hover {
                    background: none;
                }
            }
            &#extra, &#xButton {
                display: none;
                @include tablet {
                    display:flex;
                }
            }
            &:nth-child(1) {
                @include tablet {
                    border-top: none;
                }
            }
            &:nth-child(5) {
                @include tablet {
                    border-top: 2px solid $turquoise-dark;
                }
            } 
            &:nth-child(5), &:nth-child(6) {
                @include tablet {
                    background: $black-light;
                    color: $turquoise-light;
                }
            }
        }
    }
    &_links.active {
        transition:
            max-width 1s ease-in,
            visibility 0.5s ease-in,
            opacity 0.5s ease-in;
        max-width: 3000px;
        visibility: visible;
        opacity: 1;
    }
    &_user {
        margin-right: 2rem;
        width: 230px;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        &-username {
            margin: auto 5px;
            border: 2px solid $black-dark;
            line-height: 2rem;
            border-radius: 100%;
            padding: .35rem;
            color: $black-dark;
            text-transform: capitalize;
            transition: 
                border-color 0.5s ease,
                color 0.5s ease;
           &:hover {
                color: $turquoise-light;
                border-color: $turquoise-light;
            }
        }
        &-button {
            margin: auto 5px;
            padding: 8px 16px;
            border: 2px solid $black-dark;
            line-height: 1;
            font-weight: 500;
            border-radius: 6px;
            background: transparent;
            text-align: center;
            transition: all 0.5s ease; 
            &#logInButton {
                border-color: $turquoise-light;
                color: $turquoise-light;
                &:hover {
                    background: $turquoise-medium;
                    border-color: $black-dark;
                    color: $black-dark;
                }
            }
            &#signUpButton {
                background:  $turquoise-medium;
                &:hover {
                    background: $backgroundColor1;
                    border-color: $turquoise-light;
                    color: $turquoise-light;
                }
            }
        }
        &-icon {
            margin: auto 5px;
            .fa_custom {
                color: $black-dark;
                transition: color 0.3s ease;
                &:hover {
                    color: $turquoise-light;
                }
            }
        }
        @include tablet {
            display: none;
        }
    }
}
