<h2>Search Foods</h2>
<form action="foods/search/" method="GET">
    <label for="id">Name</label>
    <select name="id" onchange="this.form.submit()">
        <option disabled selected>-- Tria --</option>
        <% foods.forEach((food,index) => { %>
            <option label="<%= food.name %>" value="<%= food.id %>"></option> 
        <% }) %>  
    </select>
</form>
<a href="/foods/new">New Food</a>
<a href="/foods/advancedSearch">Advanced Search</a>


