<div class="content-double-item-row">
    <label class="label" for="username">Nom</label>
    <input required class="input" type="text" name="username"
        value="<%= user.username %>" /> 
</div>
<div class="content-double-item-row">
    <label class="label" for="weight">Pes</label>
    <input class="input" type="text" name="weight"
    value="<%= user.weight  %>" /> 
</div>
<div class="content-double-item-row">
    <label class="label" for="weight">Calories</label>
    <input class="input" type="text" name="weight"
    value="<%= user.calories %>" /> 
</div>
<div class="content-links">
    <a class="link" href="/users">Cancel</a>
    <button class="button" type="submit" name="createButton">Confirm</button>
</div>









